@model StockServiceWebClient.Models.Order

@{
    ViewBag.Title = "Stock Client";
}

<div class="container">
    <h3>New Order</h3>
    @using (Html.BeginForm("AddStockOrder", "SubmitOrder", FormMethod.Post))
    {
            <label>E-mail</label>
            @Html.TextBox("email")<br /> <br />

            <label>Company</label>
            @Html.TextBox("companyName")<br /> <br />

            <label>Quantity</label>
            <input type="number" name="amount" /><br /> <br />

            @Html.Label("Buy  ")
            @Html.RadioButton("type", 0)
            <br />
            @Html.Label("Sell  ")
            @Html.RadioButton("type", 1)
            <br />

            <input type="submit"/>
    }


</div>
